langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.51
langchain-openai==0.3.12
langgraph==0.3.27
openai==1.72.0
pillow==11.1.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
PyQt6-WebEngine==6.9.0
